---
import Page from "../layouts/Page.astro";
import Prose from "../components/Prose.astro";
---

<Page title="Home">
  <nav>
    <a href="/sketchbooks">sketchbooks</a>
  </nav>

  <Prose>
    <h1>Javi Sánchez-Marín</h1>
    <p>
      Interdisciplinary software engineer with a strong design background. 15+
      years of experience building user interfaces, frontend infrastructure and
      tooling for digital products at large organizations.
    </p>
    <p>
      Currently working in frontend platform infrastructure at <a
        target="_blank"
        rel="noopener"
        href="https://stripe.com/"
      >
        <strong>Stripe</strong></a
      >.
    </p>
  </Prose>
</Page>
