---
import { getCollection } from "astro:content";
import Page from "../layouts/Page.astro";

const sketchbooks = await getCollection("sketchbooks");
---

<Page title="Sketchbooks">
  <h1>Sketchbooks</h1>
  <ul>
    {
      sketchbooks.map((sketchbook) => (
        <li>
          <a href={`/sketchbooks/${sketchbook.slug}`}>
            {sketchbook.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Page>
