---

---

<div
  class="prose
    prose-slate
    prose-headings:font-normal
    prose-h1:text-4xl
    prose-h2:text-3xl
    prose-h3:text-2xl
    prose-h4:text-xl
    prose-h4:font-medium
    md:prose-lg
    lg:prose-xl
    max-w-3xl"
>
  <slot />
</div>
