---
interface Props {
  id: string;
  width?: string;
  height?: string;
  aspectRatio?: string;
}

const { id, width = "100%", height, aspectRatio = "16/9" } = Astro.props;

const url = `/sketch/${id}`;
---

<figure>
  <div class="relative max-w-none" style={{ width, height, aspectRatio }}>
    <iframe
      id={id}
      width="100%"
      height="100%"
      src={url}
      style={{ frameborder: 0 }}
    >
    </iframe>
  </div>
  <p class="text-right"><a href={url} target="_blank">Open sketch ↗</a></p>
</figure>
