---
interface Props {
  id: string;
  width: string;
  height: string;
}

const { id, width, height } = Astro.props;

const url = `/sketch/${id}`;
---

<figure>
  <div class="relative max-w-none" style={{ width, height }}>
    <iframe
      id={id}
      title="Inline Frame Example"
      width="100%"
      height="100%"
      src={url}
      frameborder="0"
    >
    </iframe>
  </div>
  <p class="text-right"><a href={url} target="_blank">Open sketch ↗</a></p>
</figure>
