---
import Layout from "./Layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="mx-8 mt-10 mb-52 md:mt-20 md:ml-40">
    <div class="container">
      <slot />
    </div>
  </div>
</Layout>
