---
import Layout from "./Layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div id="p5-sketch" class="h-screen w-screen flex"></div>
  <slot />
  <style is:global>
    canvas {
      display: block;
    }
  </style>
  <script>
    import Sketch, { type UserSketch } from "../lib/sketch/Sketch";

    declare global {
      interface Window {
        sketch: UserSketch;
        // our own sketch handlers
        onCanvasResize: () => void;
      }
    }

    window.addEventListener("DOMContentLoaded", () => {
      new Sketch(window.sketch ?? (() => {}));
    });
  </script>
</Layout>
